<!DOCTYPE html>
<html>
<head>
    <title>E-STORE API</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.23.11/swagger-ui.css" rel="stylesheet">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <style>
        #refresh-token pre {
            white-space: pre-wrap; /* Allows the text to wrap */
            word-break: break-all; /* Ensures long words break and wrap */
            font-size:10px; 
            font-weight:bold;
        }
        /* CSS for the custom Facebook login button */
        .fb-button, .google-button {
            background-color: white;
            color: #1877F2;
            border: 2px solid #1877F2;
            padding: 5px 10px;
            font-size: 14px;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
            display: inline;
            align-items: center;
            align-self: center;
            position: relative;
            right:10px;
            top: 1px;
            margin-bottom: 9px;
            height: 30px; /* Match the height of the cancel button */
        }
        .fb-button:hover, .google-button:hover {
            background-color: #f1f1f1;
        }
        .fb-button p, .google-button p {
            font-size: 14px;
            margin: 0; /* Remove default margin */
        }
    </style>
</head>
<body>
    <div id="fb-root"></div>
    <div id="swagger-ui"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.23.11/swagger-ui-bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.23.11/swagger-ui-standalone-preset.js"></script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: "{{ facebook_app_id }}",
                cookie: true, // Enable cookies to allow the server to access the session.
                xfbml: true, // Parse social plugins on this webpage.
                version: "v10.0", // Use this Graph API version for this call.
            });

            // Check the initial login status
            FB.getLoginStatus(function(response) {
                if (response.status === "connected") {
                    FB.logout()
                }
            });
        };
        window.onload = function() {
            // Initialize Swagger UI
            const ui = SwaggerUIBundle({
                url: '/api/schema/',
                dom_id: '#swagger-ui',
                presets: [
                    SwaggerUIBundle.presets.apis,
                    SwaggerUIStandalonePreset
                ],
                layout: "StandaloneLayout",
                onComplete: function() {
                    // Track if the Facebook button has been added
                    let facebookButtonAdded = false;

                    // Track if the Google button has been added
                    let googleButtonAdded = false;

                    // MutationObserver to monitor changes in Swagger UI
                    const observer = new MutationObserver(mutations => {
                        mutations.forEach(mutation => {
                            if (mutation.type === 'childList') {
                                if (!facebookButtonAdded) {
                                const facebookEndpointDialog = document.querySelector('#operations-auth-auth_facebook_retrieve')
                                const cancelButton = facebookEndpointDialog.querySelector('.cancel');
                                if (cancelButton) {
                                    observer.disconnect();
                                    const fbButton = document.createElement('button');
                                    fbButton.className = 'fb-button';
                                    fbButton.innerHTML = '<p>Generate FB Token</p>';
                                    fbButton.onclick = function() {
                                        const tokenInputElement = facebookEndpointDialog.querySelector('.parameters-col_description input[type="text"]');
                                        FB.login(function(response) {
                                            if (response.authResponse) {
                                                // User is logged in
                                                var accessToken = response.authResponse.accessToken;
                                                tokenInputElement.value = accessToken;
                                                const event = new Event('input', { bubbles: true });
                                                event.simulated = true
                                                tokenInputElement.dispatchEvent(event);
                                            } 
                                        }, {scope: 'public_profile,email', auth_type: 'reauthorize'});
                                    };
                                    cancelButton.parentNode.insertBefore(fbButton, cancelButton);

                                    // Mark the button as added
                                    facebookButtonAdded = true;

                                    // Reconnect the observer
                                    observer.observe(document.body, {
                                        childList: true,
                                        subtree: true
                                    });
                                }
                            }
                            
                                if (!googleButtonAdded) {
                                    const googleEndpointDialog = document.querySelector('#operations-auth-auth_google_retrieve');
                                    if (googleEndpointDialog) {
                                        const cancelButton = googleEndpointDialog.querySelector('.cancel');
                                        if (cancelButton) {
                                            observer.disconnect();
                                            const googleButton = document.createElement('button');
                                            googleButton.className = 'google-button';
                                            googleButton.innerHTML = '<p>Generate Google Token</p>';
                                            googleButton.onclick = function() {
                                                const tokenInputElement = googleEndpointDialog.querySelector('.parameters-col_description input[type="text"]');
                                                google.accounts.id.initialize({
                                                    client_id: '{{ google_client_id }}',
                                                    callback: function(response) {
                                                        const authToken = response.credential;
                                                        tokenInputElement.value = authToken;
                                                        const event = new Event('input', { bubbles: true });
                                                        event.simulated = true
                                                        tokenInputElement.dispatchEvent(event);
                                                    }
                                                });

                                                // Render the Google Sign-In button
                                                google.accounts.id.prompt();
                                            };
                                            cancelButton.parentNode.insertBefore(googleButton, cancelButton);
                                            googleButtonAdded = true;
                                            observer.observe(document.body, { childList: true, subtree: true });
                                        }
                                    }
                                }
                            }
                        });
                    });

                    // Start observing the body for changes
                    observer.observe(document.body, {
                        childList: true,
                        subtree: true
                    });
                }
            });
        };
    </script>
</body>
</html>
